@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100; */
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.modal {
  @apply bg-white dark:bg-gray-900;
}
.link {
  @apply text-blue-600 dark:text-blue-400 underline;
}

.cell {
  @apply bg-sky-100 dark:bg-sky-300 flex items-center justify-center border border-gray-300 dark:border-gray-300 rounded cursor-default select-none;

  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}
.cell.cell-empty {
  @apply bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700;
  box-shadow: none;
  border: none;
}
.cell.correct {
  @apply bg-green-500 text-white dark:bg-green-600;
}
.cell.incorrect {
  @apply bg-red-500 text-white dark:bg-red-600;
}
.cell.showing {
  @apply bg-green-500 text-white dark:bg-green-600;
}
.cell.clickable {
  cursor: pointer;
}

.cell.clickable:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cell.clickable:active {
  transform: scale(0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn {
  @apply bg-blue-500 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-800 active:scale-95 text-white font-bold py-2 px-4 rounded;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}

.alert {
  @apply p-4 rounded;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
.alert-info {
  @apply bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300;
}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input[type="range"] {
  -webkit-appearance: none; /* For Chrome, Safari, Opera */
  appearance: none; /* For other browsers */
  width: 100%; /* Example width */
  height: 30px; /* Overall height of the range input */
  background-color: transparent; /* Make the background transparent to see the track */
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 20px; /* Height of the track */
  background: #ccc; /* Track color */
  border-radius: 10px; /* Rounded corners for the track */
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 20px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  height: 20px;
  background: transparent; /* IE/Edge need transparent background for the track */
  border-color: transparent; /* Also transparent borders */
  border-width: 16px 0; /* Adjust as needed to control overall height */
  color: transparent; /* Transparent color for the track */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px; /* Height of the thumb */
  width: 30px; /* Width of the thumb */
  background: #007bff; /* Thumb color */
  border-radius: 50%; /* Make it a circle */
  margin-top: -5px; /* Center the thumb on the track */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 30px;
  width: 30px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.icon-btn {
  @apply bg-blue-500 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-800 active:scale-95 p-2 rounded-full h-10 w-10 flex items-center justify-center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.icon-btn.dark {
  @apply bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700;
  cursor: pointer;
}
